@tailwind base;
@tailwind components;
@tailwind utilities;

.login_back {
  position: absolute;
  z-index:-1;
  height: 100vh;
  width: 100%;
  position: center center;
  filter: blur(7px);
}

.login{
  height: 800px;
}

@media screen and (min-width: 0px) {
  .login{
    width: 90%;
    height: fit-content;
    margin: 20px;
  }
}
@media screen and (min-width: 480px) {
  .login{
    width: 90%;
    height: fit-content;
    margin: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .login{
    height: 600px;
    width: fit-content;
    margin: 120px;
  }
}
@media screen and (min-width: 1536px) {
  .login{
    height: 700px;
    margin: 120px;
    width: fit-content;
    
  }
}